In [12]:
import pandas as pd
import pyarrow.parquet as pq
from time import time
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv(r"C:\Users\ahmed\Desktop\Data_engineering\week1\docker_sql\taxi_zone_lookup.csv")

In [11]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

In [ ]:
df.s